apiVersion: v1
kind: Service
metadata:
  name: cohesity-ssh
  namespace: cohesity-ve
spec:
  type: ClusterIP
  selector:
    vm.kubevirt.io/name: cohesity-ve1
  ports:
    - name: ssh
      protocol: TCP
      port: 22
      targetPort: 22