apiVersion: v1
kind: Service
metadata:
  name: lab-ve-cluster
  namespace: cohesity-ve
spec:
  selector:
    vm.kubevirt.io/name: cohesity-ve1
  ports:
    - name: s3
      protocol: TCP
      port: 3000
      targetPort: 3000
